{% extends "layout.html" %}
{% block title %}Uploader{% endblock %}
{% block page %}Uploader{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
      <h1>Upload new File</h1>
        <form action="/upload" method='POST' enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input name="file" accept="image/*" type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Name</th><th>Image</th><th>Action</th>
          </tr>
        </thead>
        <tbody>
          
          {% for upload in uploads %}
            <tr>
                <td>{{upload.id}}</td>
                <td>{{upload.filename}}</td>
                <td>
                  <img class="materialboxed" width="500px" src="{{upload.get_url()}}">
                </td>
                <td><a class="waves-effect waves-light btn" href="/deleteUpload/{{upload.id}}">DELETE</a></td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
{% endblock %}